
body{
    background-color: #252830;
    overflow-X: hidden;
}
header{
    background-color: #30343e;
    width: 100vw;
    height: 7vh;
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 0 3% 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transition-duration: 0.70s;
}  
.home{
    text-decoration: none;
    color: var(--quaternaryColor);
    font-family: var(--textFont);
    font-size: 2rem;
    font-weight: 500;
    filter: brightness(120%);
    flex-grow: 0;

}
header:hover{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.70s;
}
.user{
    width: 3rem;
    height: 100%;
    background-color: none;
    position: relative;
    display: none;
}

.burger{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition-duration: 0.50s;
}
.burger *{
    width: 70%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--quaternaryColor);
    filter: brightness(120%);
    transition:  0.1s;
    /* transition */
}

.center-wrapper{
    width: 100vw;
    height: 100%;
    padding: 3%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    gap: 3.2rem;
    align-items: center;
    /* margin-bottom: 1rem; */
}
.content{
    width: 75vw;
    height: 65vh;
    /* background-color: tomato; */
    position: relative;
    user-select: none;
}

.image-box{
    width: 100%;
    height: 100%;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.legenda{
    height: 6vh; 
    width: 100%; 
    background-color: #5b5b5bc7;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .6% 1% 0 2%;
}
h3{
    text-align: left;
    height: 100%;
    width: 100%;
    color: var(--quaternaryColor);
    font-family: var(--textFont);
    font-size: 1.5rem;
    font-weight: 600;
    filter: brightness(120%);
    letter-spacing: 1px;
}

header ul{
    list-style: none;
    color: var(--quaternaryColor);
    margin-right: 1.5rem;
    transition-duration: 0.50s; 
    display: flex;
    gap: 1rem;
    flex-grow: 0;
    
}
ul li{
    font-size: 1.1em;
    font-family: var(--textFont);
    cursor: pointer;
    transition: linear 0.1s;
    color: var(--quaternaryColor);

}
li:hover{
    transition: linear 0.1s;
    filter: brightness(130%);
}

/*Mobile config*/

@media (max-width: 660px){
    .legenda {
        padding-bottom: 3.7rem;
    }
}
@media (max-width: 350px){
    .legenda h3{
        font-size: 1.2rem;
    }
}