/*Tava dando erro no GithubPages*/
:root {
    --primaryColor: #142850;
    --secondaryColor: #27496D;
    --loginColor: #27496db2;
    --tertiaryColor: #0C7B93;
    --quaternaryColor: #00a8cc;
    --tittleFont: 'Playfair Display', serif;
    --textFont: 'Montserrat', sans-serif;
    --textFontSize: .9rem;
    --tittleFontSize: 1.8rem;
    --fontColor: white;
}
/*--------------------------------------------------*/

body {
    background: var(--primaryColor);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align-items: flex-start */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.swal2-container{
    /* width: 20px;
    height: auto;
    position: absolute;
    top: 0; */
}
.center-wrapper{
    display: none;
}
.center-wrapper.active{
    z-index: 2;
    background: #22242b;
    max-height: 65vh;
    min-width: 230px;
    width: 430px;
    max-width: 430px;
    padding: 3% 2%;
    box-shadow: 2px 1px 2px 1px rgba(7, 7, 7, 0.526);
    display: grid;
    place-items: center;
    animation: fade_in_show 0.5s ease-in-out both;
    position: fixed; 
    top: 50%;
    transform: translateY(-50%);
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    width: 100%;
}

p,
h2 {
    text-align: center;
}

h2 {
    font-family: var(--textFont);
    font-size: var(--tittleFontSize);
    letter-spacing: 1.5px;
    background: linear-gradient(to right, #27496D, rgb(2, 123, 150));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1rem 0 2.5rem 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.164);
    filter: brightness(230%);
    user-select: none;
}

input {
    border: 1px solid rgba(0, 0, 0, .15);
    outline: none;
    width: 90%;
    height: 2.4rem;
    padding: 8px;
    background-color: #1e1f25;
    color: var(--fontColor);
    font-size: 15px;
    border-radius: 4px;
}

input::placeholder {
    color: var(--fontColor);
    font-size: var(--textFontSize);
    /* letter-spacing: 1px; */
    transition-duration: 0.45s;

}

#button,.button {
    border: none;
    outline: none;
    padding: 10px 25px 10px 25px;
    font-size: 1rem;
    font-family: var(--textFont);
    color: var(--fontColor);
    font-weight: 500;
    filter: brightness(97%);
    letter-spacing: 1px;
    background-color: var(--quaternaryColor);
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.35s;
    border: 1px solid rgba(0, 0, 0, .15);
    margin-top: 1.9em;
}

#button:hover,.button:hover {
    filter: brightness(80%);
    transition: all .35s ease-in-out;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#signup,#signin{
    text-decoration: none;
    font-family: var(--tittleFont);
    font-size: .9em;
    color: var(--fontColor);
    filter: brightness(85%);
    letter-spacing: 1px;
    margin-left: .4rem;
    margin-top: .5em;
    transition-duration: 0.45s;
    cursor: pointer;
}

#signup:hover,#signin:hover {
    filter: brightness(110%);
    transition: all .45s ease-in-out;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

}

input:focus::-webkit-input-placeholder {
    color: transparent;
    transition-duration: 0.45s;

}

input:focus:-moz-placeholder {
    /* Firefox 18- */
    transition-duration: 0.45s;
    color: transparent;
}

input:focus::-moz-placeholder {
    /* Firefox 19+ */
    transition-duration: 0.45s;
    color: transparent;
}

input:focus:-ms-input-placeholder {
    transition-duration: 0.45s;
    color: transparent;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}
.register-box{
    display: none;
}
.register-box.active{
    z-index: 2;
    background: #22242b;
    max-height: 65vh;
    min-width: 230px;
    width: 430px;
    max-width: 430px;
    padding: 3% 2%;
    box-shadow: 2px 1px 2px 1px rgba(7, 7, 7, 0.526);
    display: grid;
    place-items: center;
    animation: fade_in_show 0.5s ease-in-out both;
    position: fixed; 
    top: 50%;
    transform: translateY(-50%);
}
.error{
    border-color: red;
}
.passed{
    border-color: green;
}
form div{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
form div span{
    position: absolute;
    right: 10%;
    top: 55%;
    transform: translate(50%,-50%);

    margin: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
form div i {
    
    color: white;
    filter: brightness(85%);
    cursor: pointer;
}
@keyframes fade_in_show {
    0% {
        opacity: 0;
        /* transform: scale(0) */
    }

    100% {
        opacity: 1;
        /* transform: scale(1) */
    }
}